extends layout

block content
  div(class="bg-success bg-gradient backgoundHeader")
    h1 Hola, te presento el blog de JP 
    p Javacript developer, game developer, entrepeneur and code lover.
  section
    div(class="paddin-posts")
      div(class="row row-cols-1 row-cols-md-2 g-4 ")
        each post in posts
          div(class="col")
            div(class="card")
              img(src=post[3], class="card-img-top", alt="...")
              div(class="card-body")
                h5(class="card-title")=post[1]
                p(class="card-text")=post[2]
                a(href="/post/"+post[0]) Ver más